

<div id="wrapper" style="background: rgba(0, 157, 245, 0.03);">
    <%= render partial: 'adminst/nav' %>
<div id="page-wrapper" style="background: rgba(0, 0, 0, 0);">
    <div style="width:100%; margin-top:20px;"></div>
    <div class="row">
        <!--<div id="page-wrapper">-->
            <div class="col-md-12" style="height:100%; padding:0;">
                <%#= render :partial => "#{@about_page}" %>
                <%= render :partial => "board/tmp" %>
            </div>
        <!--</div>-->
        
    </div>
    <div style="width:100%; margin-top:20px;"></div>
</div>

    <!-- jQuery -->
  <!--<script src="/bower_components/jquery/dist/jquery.min.js"></script>-->
  
  <!-- Metis Menu Plugin JavaScript -->
  <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>
  
  <!-- Custom Theme JavaScript -->
  <script src="/dist/js/sb-admin-2.js"></script>

  <!-- Morris Charts JavaScript -->
  <!--<script src="/bower_components/raphael/raphael-min.js"></script>-->
  <!--<script src="/bower_components/morrisjs/morris.min.js"></script>-->
  
<!--<script src="/bower_components/jquery/dist/jquery.min.js"></script>-->