<!-- 상단 시작 { -->
<div id="hd">
    <h1 id="hd_h1">그누보드5 테마데모</h1>
    <div id="skip_to_container">
        <a href="#container">본문 바로가기</a>
    </div>
    <%= render :partial => 'main_navbar' %>
    <hr>
</div>
<!-- } 상단 끝 -->

<hr>

<!-- 콘텐츠 시작 { -->
<div id="wrapper">
    <div id="sub_tit">
        <h2 id="ctn_title">후원하기</h2>
    </div>
    <div id="container">
        <div id="container_title">후원하기</div>

        <article id="ctt" class="ctt_contact">
            <!--<header>-->
            <!--    <h1>찾아오시는 길</h1>-->
            <!--</header>-->
        
            <div id="ctt_con">
                <p style="text-align: center; " align="center"><span style="font-size: 14pt;">찾아오시는 길은 [관리자]-[내용관리]에서 찾아오시는 길을 만들어 주시고 아이디를 contact로 설정하여 줍니다.</span></p><p style="text-align: center; " align="center"><span style="font-size: 14pt;">스킨 수정하시는 거 잊지 마시구요!</span></p><p style="text-align: center; " align="center">&nbsp;</p><p style="text-align: center; " align="center">&nbsp;</p><p style="text-align: center; " align="center"><img src="http://theme.sir.co.kr/gnuboard5/data/editor/1510/9d3eac17319a48f8689d8a071915d77c_1445243180_9973.jpg" title="9d3eac17319a48f8689d8a071915d77c_1445243180_9973.jpg"></p><p style="text-align: center; " align="center">&nbsp;</p><p style="text-align: center; " align="center">&nbsp;</p><p>&nbsp;</p><div style="text-align: center;" align="center"><br></div><div style="text-align: center;" align="center"><span style="line-height: 1.5;">&nbsp;</span></div><p>&nbsp;</p>    </div>
        
        </article>
        <a href="#hd" id="top_btn">상단으로</a>
    </div>
</div>

<!-- } 콘텐츠 끝 -->

<!-- 하단 시작 { -->
    <%= render :partial => 'footer' %>
<!-- } 하단 끝 -->