<!-- 상단 시작 { -->
<div id="hd">
    <h1 id="hd_h1">그누보드5 테마데모</h1>
    <div id="skip_to_container">
        <a href="#container">본문 바로가기</a>
    </div>
    <%= render :partial => '/krc/main_navbar' %>
    <hr>
</div>
<!-- } 상단 끝 -->

<hr>


<hr>

<!-- 콘텐츠 시작 { -->
<div id="wrapper">
    <div id="sub_tit">
        <h2 id="ctn_title">&nbsp</h2>
    </div>
    <div id="container">
        <div id="container_title">유관 단체</div>

        <article id="ctt" class="ctt_contact">
            <div id="ctt_con">
                <div class="col-md-3">
                    <a href="/board/introduce"><span><p class="ctt_con_menu">센터소개</p></span></a>
                    <a href="/board/map"><span><p class="ctt_con_menu">오시는 길</p></span></a>
                    <a href="/board/org"><span><p class="ctt_con_menuselect">참여불교 재가연대</p></span></a>
                    <a href="/board/data"><span><p class="ctt_con_menu">공개자료</p></span></a>
                </div>
                <div class="col-md-9">
                    <div class="intro">
                        <p class="intro_title">유관 단체</p>
                        <span class="site_navi">Home &gt; 교단자정센터 &gt; <strong>참여불교 재가연대</strong></span>
                    </div>
                </div>
                <p style="text-align: center; " align="center">&nbsp;</p>
                <p style="text-align: center; " align="center">&nbsp;</p><p>&nbsp;</p>
                <div style="text-align: center;" align="center"><br></div>
                <div style="text-align: center;" align="center"><span style="line-height: 1.5;">&nbsp;</span>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            </div>
        
        </article>
        <a href="#hd" id="top_btn">상단으로</a>
    </div>
</div>

<!-- } 콘텐츠 끝 -->

<!-- 하단 시작 { -->
    <%= render :partial => '/krc/footer' %>
<!-- } 하단 끝 -->