<!-- 하단 시작 { -->
<div id="ft">
    <div id="ft_wr">
        <div id="ft_copy">
            <a href="http://theme.sir.co.kr/gnuboard5/bbs/content.php?co_id=privacy">개인정보취급방침</a>
            <a href="http://theme.sir.co.kr/gnuboard5/bbs/content.php?co_id=provision">서비스이용약관</a>
            <a href="#">이메일추출방지정책</a>
            <a href="http://theme.sir.co.kr/gnuboard5/bbs/content.php?co_id=company">회사소개</a>
            <a href="#">오시는길</a>   
            <a href="#">사이트맵</a>   
        </div>
        <div id="ft_company">
            <p class="ft_info">TEL. 00-000-0000 FAX. 00-000-0000 서울 강남구 강남대로 1 <br>
            대표:홍길동 사업자등록번호:000-00-00000 개인정보관리책임자:홍길동</p>
            <p class="ft_copy">Copyright &copy; <b>소유하신 도메인.</b> All rights reserved.</p>
        </div>
    </div>
</div>

<script>
$(function() {
    $("#top_btn").on("click", function() {
        $("html, body").animate({scrollTop:0}, '500');
        return false;
    });
});
</script>

<!--<div id="ft_dv">-->
<!--    <a href="http://theme.sir.co.kr/gnuboard5/index.php?theme=company&amp;device=mobile" id="device_change">모바일 버전으로 보기</a>-->
<!--</div>-->


<!-- } 하단 끝 -->