<!--모바일 버전 하단 시작-->
<div id="mobile_ft">
    <div id="mobile_ft_copy">
        <div id="mobile_ft_company">
            <!--<a href="http://theme.sir.kr/gnuboard5/bbs/content.php?co_id=company">회사소개</a>-->
            <!--<a href="http://theme.sir.kr/gnuboard5/bbs/content.php?co_id=privacy">개인정보취급방침</a>-->
            <!--<a href="http://theme.sir.kr/gnuboard5/bbs/content.php?co_id=provision">서비스이용약관</a>-->
        </div>
    
        <p class="mobile_ft_info">교단자정센터 Center for Buddist Ethics & Policy <br> TEL. 02-2278-3417 | FAX. 02-2278-3532<br>
       서울특별시 중구 동호로 24길 27-17 우리함께빌딩 3층 <br></p>
        <p class="mobile_copyright">Copyright © <b>소유하신 도메인.</b> All rights reserved.</p>
    
        <a href="#" class="top_btn">상단으로</a>
    </div>
</div>
<!--모바일 버전 하단 끝-->


<!-- pc 버전 하단 시작 { -->
<div id="ft">
    <div id="ft_wr">
        <div id="ft_copy">
            <a href="/board/page/1">센터소개</a>
            <a href="/board/page/2">오시는길</a>
        </div>
        <div id="ft_company">
            <p class="ft_info">교단자정센터 Center for Buddist Ethics & Policy <br>TEL. 02-2278-3417 | FAX. 02-2278-3532 | 서울특별시 중구 동호로 24길 27-17 우리함께빌딩 3층<br></p>
            <p class="ft_copy">Copyright &copy; <b>교단자정센터</b> All rights reserved.<br>authors - 4D (yonghyun, jinyee)</p>
        </div>
    </div>
</div>

<script>
$(function() {
    $("#top_btn").on("click", function() {
        $("html, body").animate({scrollTop:0}, '500');
        return false;
    });
});
</script>

<!-- pc 버전 하단 끝 -->
