<div class="modal fade" id="myInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#3E3C52; border-top-left-radius: 5px; border-top-right-radius: 5px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-weight:bold; color:#fff;"><%= current_user.nickname %> 님의 회원정보</h4>
      </div>
      <div class="modal-body" style="padding:0;">
        <div class="panel panel-default" style="margin:0;border:0px;">
          <!-- Default panel contents -->
          <div class="panel-heading" style="text-align: center; font-size: 20px; font-weight: bold; background-color: #f2dede;">
              회원님은 <span style="font-size:22px; color:#D23232;"><%= current_user.authority %></span> 입니다.
          </div>
          <div class="panel-body">
              <% if current_user.mb_open > 7 %>
              <p style="font-size: 20px; font-weight:bold;">회원님은 관리자페이지에 <a href="/admin/statistic" class="btn btn-info" style="color:#fff; font-weight:bold;">접속</a>하실 수 있습니다.</p>
              <% else %>
              <p>정회원이란 ...</p>
              <% end %>
          </div>
        
          <!-- List group -->
          <div class="list-group">
              <% x = current_user %>
              <% i = 0 %>
              <% @myinfo_arr.each do |m_i| %>
                  <a class="list-group-item" style="height:42px;padding: 0px 15px 0px 0px;">
                      <div style="float:left; font-weight:bold; height: 100%; background-color: #fcf8e3; width: 30%; text-align:center; padding: 11px;"><%= @myinfo_arr2[i] %></div>
                      <span style="float:right; font-weight:bold; margin-top: 11px;"><%= eval("@#{m_i}") %></span>
                  </a>
              <% i += 1 %>
              <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="background-color:#3E3C52; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
        <a href="/krc/exitfor" class="btn btn-danger btn-sm" style="float: left; font-weight: bold; color:#fff;">탈퇴하기</a>
        <a href="/users/edit" class="btn btn-warning btn-sm" style="float: left; font-weight: bold; color:#fff;">정보변경</a>
        <button type="button" class="btn btn-info" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>