<div style="width:100%; height:560px; background-image:url('../mainban0001.png'); background-size:cover;"><center>
    <a href="/board/page/<%= Intab.find(13).id %>" target="_blank">
        <div class="dididi">
            <p class="ment">&nbsp</p>
        </div>
    </a>
</center></div>
<style>
    .dididi{
        position: fixed;
        bottom: 8%;
        width: 75%;
        cursor: pointer;
        left: 15%;
    }
    .ment{
        color: #fff;
        font-size: 40px;
        font-weight: bold;
    }
</style>