<!-- 상단 시작 { -->
<div id="hd">
    <h1 id="hd_h1">그누보드5 테마데모</h1>
    <div id="skip_to_container">
        <a href="#container">본문 바로가기</a>
    </div>
    <%= render :partial => '/krc/main_navbar' %>
    <hr>
</div>
<!-- } 상단 끝 -->

<hr>

<!-- 콘텐츠 시작 { -->
<div id="wrapper">
    <div id="sub_tit">
        <h2 id="ctn_title">&nbsp</h2>
    </div>
    <div id="container">
        <div id="container_title">공개자료</div>
        <article id="ctt" class="ctt_contact">
            <div id="ctt_con">
                <div class="col-md-3">
                    <a href="/board/introduce"><span><p class="ctt_con_menu">센터소개</p></span></a>
                    <a href="/board/map"><span><p class="ctt_con_menu">오시는 길</p></span></a>
                    <a href="/board/org"><span><p class="ctt_con_menu">참여불교 재가연대</p></span></a>
                    <a href="/board/data"><span><p class="ctt_con_menuselect">공개자료</p></span></a>
                </div>
                <div class="col-md-9">
                    <div class="intro">
                        <p class="intro_title">공개자료</p>
                        <span class="site_navi">Home &gt; 교단자정센터 &gt; <strong>공개자료</strong></span>
                    </div>
                    <!-- 게시물 작성/수정 시작 { -->
                    <form name="fwrite" id="fwrite" action="#" onsubmit="return fwrite_submit(this);" method="post" enctype="multipart/form-data" autocomplete="off" style="width:100%">
                    <input type="hidden" name="uid" value="16022703482378">
                    <input type="hidden" name="w" value="">
                    <input type="hidden" name="bo_table" value="free">
                    <input type="hidden" name="wr_id" value="0">
                    <input type="hidden" name="sca" value="">
                    <input type="hidden" name="sfl" value="">
                    <input type="hidden" name="stx" value="">
                    <input type="hidden" name="spt" value="">
                    <input type="hidden" name="sst" value="">
                    <input type="hidden" name="sod" value="">
                    <input type="hidden" name="page" value="">
                    <input type="hidden" value="html1" name="html">
                    <div class="tbl_frm01 tbl_wrap">
                        <table>
                        <tbody>
                            <tr>
                                <th scope="row"><label for="wr_name">이름<strong class="sound_only">필수</strong></label></th>
                                <td><input type="text" name="wr_name" value="" id="wr_name" required class="frm_input required" size="10" maxlength="20"></td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="wr_password">비밀번호<strong class="sound_only">필수</strong></label></th>
                                <td><input type="password" name="wr_password" id="wr_password" required class="frm_input required" maxlength="20"></td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="wr_email">이메일</label></th>
                                <td><input type="text" name="wr_email" value="" id="wr_email" class="frm_input email" size="50" maxlength="100"></td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="wr_homepage">홈페이지</label></th>
                                <td><input type="text" name="wr_homepage" value="" id="wr_homepage" class="frm_input" size="50"></td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="wr_subject">제목<strong class="sound_only">필수</strong></label></th>
                                <td><div id="autosave_wrapper"><input type="text" name="wr_subject" value="" id="wr_subject" required class="frm_input required" size="50" maxlength="255"></div></td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="wr_content">내용<strong class="sound_only">필수</strong></label></th>
                                <td class="wr_content">
                                    <span class="sound_only">웹에디터 시작</span>
                                        <textarea id="wr_content" name="wr_content" class="smarteditor2" maxlength="65536" style="width:100%;height:300px"></textarea>
                                        
                                    
                                        
                                        
                                        
                                    <span class="sound_only">웹 에디터 끝</span>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                
                    <div class="btn_confirm">
                        <input type="submit" value="작성완료" id="btn_submit" accesskey="s" class="btn_submit">
                        <a href="./board.php?bo_table=free" class="btn_cancel">취소</a>
                    </div>
                    </form>
                
                    <script>
                        function html_auto_br(obj)
                    {
                        if (obj.checked) {
                            result = confirm("자동 줄바꿈을 하시겠습니까?\n\n자동 줄바꿈은 게시물 내용중 줄바뀐 곳을<br>태그로 변환하는 기능입니다.");
                            if (result)
                                obj.value = "html2";
                            else
                                obj.value = "html1";
                        }
                        else
                            obj.value = "";
                    }
                
                    function fwrite_submit(f)
                    {
                        var wr_content_editor_data = oEditors.getById['wr_content'].getIR();
                oEditors.getById['wr_content'].exec('UPDATE_CONTENTS_FIELD', []);
                if(jQuery.inArray(document.getElementById('wr_content').value.toLowerCase().replace(/^\s*|\s*$/g, ''), ['&nbsp;','<p>&nbsp;</p>','<p><br></p>','<div><br></div>','<p></p>','<br>','']) != -1){document.getElementById('wr_content').value='';}
                if (!wr_content_editor_data || jQuery.inArray(wr_content_editor_data.toLowerCase(), ['&nbsp;','<p>&nbsp;</p>','<p><br></p>','<p></p>','<br>']) != -1) { alert("내용을 입력해 주십시오."); oEditors.getById['wr_content'].exec('FOCUS'); return false; }
                
                        var subject = "";
                        var content = "";
                        $.ajax({
                            url: g5_bbs_url+"/ajax.filter.php",
                            type: "POST",
                            data: {
                                "subject": f.wr_subject.value,
                                "content": f.wr_content.value
                            },
                            dataType: "json",
                            async: false,
                            cache: false,
                            success: function(data, textStatus) {
                                subject = data.subject;
                                content = data.content;
                            }
                        });
                
                        if (subject) {
                            alert("제목에 금지단어('"+subject+"')가 포함되어있습니다");
                            f.wr_subject.focus();
                            return false;
                        }
                
                        if (content) {
                            alert("내용에 금지단어('"+content+"')가 포함되어있습니다");
                            if (typeof(ed_wr_content) != "undefined")
                                ed_wr_content.returnFalse();
                            else
                                f.wr_content.focus();
                            return false;
                        }
                
                        if (document.getElementById("char_count")) {
                            if (char_min > 0 || char_max > 0) {
                                var cnt = parseInt(check_byte("wr_content", "char_count"));
                                if (char_min > 0 && char_min > cnt) {
                                    alert("내용은 "+char_min+"글자 이상 쓰셔야 합니다.");
                                    return false;
                                }
                                else if (char_max > 0 && char_max < cnt) {
                                    alert("내용은 "+char_max+"글자 이하로 쓰셔야 합니다.");
                                    return false;
                                }
                            }
                        }
                
                        if (!chk_captcha()) return false;
                
                        document.getElementById("btn_submit").disabled = "disabled";
                
                        return true;
                    }
                    </script>
                </section>
                <!-- } 게시물 작성/수정 끝 -->
                    <a href="#hd" id="top_btn">상단으로</a>
                </div>
            </div>
        </article>
    </div>
</div>

<!-- } 콘텐츠 끝 -->


<hr>

<!-- 하단 시작 { -->
    <%= render :partial => '/krc/footer' %>
<!-- } 하단 끝 -->



<!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
<!--[if lte IE 7]>
<script>
$(function() {
    var $sv_use = $(".sv_use");
    var count = $sv_use.length;

    $sv_use.each(function() {
        $(this).css("z-index", count);
        $(this).css("position", "relative");
        count = count - 1;
    });
});
</script>
<![endif]-->